body {
  background: linear-gradient(
    45deg,
    rgb(45, 39, 161) 0%,
    rgb(19, 19, 89) 10%,
    rgb(22, 118, 138) 90%,
    rgb(45, 39, 161) 120%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  border: none;
  padding: 0.625em;
  border-radius: 0.5em;
  cursor: pointer;
  transition: 0.5s ease;
}

button:active {
  transform: translateY(0.2em);
}

.button:hover {
  filter: brightness(0.9);
}

.button:active {
  transform: translateY(2px);
  filter: brightness(2);
}

.chat-input-form {
  display: flex;
  flex-direction: column;
}

.btn-option {
  height: 38px;

  border: none;
  padding: 0.625em;
  border-radius: 0.5em;

  gap: 1em;
  font-size: 1em;
  margin: 0.5em;

  cursor: pointer;
  background-color: #15202b;
  color: white;
}

.btn-option:hover {
  background-color: #1f2f3f;
}
.btn-option:active {
  background-color: #0d141b;
}

/*
FIXME: Remove this commented code later
  .person-selector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
  margin: 1em auto 1em;
  max-width: 40em;
}

.person-selector-button {
  width: 100%;
  background-color: #15202b;
  color: white;
} */

.messeger {
  width: 100%;
  background-color: #15202b;
  color: white;
}

.active-person {
  background-color: #08529d;
  box-shadow: 0 0 0.5em 0.1em #c3c3c333;
  font-family: sans-serif;
}

.chat-container {
  background: #15202b;
  background: linear-gradient(180deg, #15202b 71.2%, rgb(22, 118, 138) 0%);
  font-family: sans-serif;
  border-radius: 0.5em;
  padding: 0.5em 1.25em;
  margin: auto;
  width: 37.5em;
  max-width: 37.5em;
  height: 35.5em;
  box-shadow: 0 0 0.5em 0.1em #c3c3c333;
}

.chat-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chat-header h2 {
  font-size: 1.1em;
  font-weight: bold;
  margin: 0.5em 0.1em;
  color: white;
}

.chat-messages {
  height: 23.27em;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.chat-messages::-webkit-scrollbar {
  display: none;
}

.message {
  padding: 0.625em;
  border-radius: 1em;
  margin-bottom: 0.625em;
  display: flex;
  color: white;
  flex-direction: column;
}

.message-sender {
  font-weight: bold;
  margin-bottom: 0.31em;
}

.message-text {
  font-size: 0.9em;
  margin-bottom: 0.31em;
  word-wrap: break-word;
}

.message-timestamp {
  font-size: 0.7em;
  text-align: right;
}

.blue-bg {
  background-color: #1c9bef;
  width: 90%;
}

.grey-bg {
  background-color: #3d5365;
  width: 90%;
  align-self: flex-end;
}

#start_over {
  margin: 2em auto;
}

.submit-name-form {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1%;
}
.input-user-name {
  width: 100%;
  height: 50%;
  border: none;
  border-radius: 1em;
  padding: 0% 5%;
}
.btn-enter-name {
  width: 15%;
  height: 50%;
  border-radius: 1em;
  background-color: #15202b;
  color: white;
  font-size: 1.1em;
  font-weight: bold;
}

.hidden {
  opacity: 0;
  transition: 1s;
  /* For height transition */
  height: 0;
  overflow: hidden;
  transition: opacity 1s ease-in-out, height 1s ease-in-out;
  cursor: default;
}

.hidden:hover {
  background-color: transparent;
  transition: 1s;
}

.hidden:active {
  background-color: transparent;
  transition: 2s;
}

.visible {
  opacity: 1;
  height: auto; /* For height transition */
}

img {
  width: 100%;
}

.clock {
  transition: 1s;
  padding: 0px 10px;
  border-radius: 1em;
}

.clock-blue-bgc {
  transition: 1s;
  padding: 0px 10px;
  background-color: #1c9bef;
  border-radius: 1em;
}

.dark {
  background-color: black;
}
.bright {
  color: black;
  background-color: rgb(255, 255, 255);
}

@media (min-width: 670px) {
  body {
    height: 100vh;
  }

  .chat-container {
    background: #15202b;
    background: linear-gradient(180deg, #15202b 71.8%, rgb(22, 118, 138) 0%);
  }
}

@media (max-width: 670px) {
  body {
    height: 100vh;
    width: 100vw;
    margin: auto;
  }

  .chat-container {
    background: #15202b;
    background: linear-gradient(180deg, #15202b 70%, rgb(22, 118, 138) 0%);
  }

  .chat-container {
    height: 95vh;
    width: 85vw;
  }

  .chat-input-form {
    background-color: rgb(22, 118, 138);
  }

  .btn-option {
    height: 7vh;
  }

  .all {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  body {
    height: 100vh;
    width: 100vw;
    margin: auto;
  }

  .chat-messages {
    height: 72%;
  }

  .chat-container {
    background: #15202b;
    background: linear-gradient(180deg, #15202b 76.2%, rgb(22, 118, 138) 0%);
  }

  .btn-option {
    height: 5.7vh;
  }

  .btn-enter-name {
    width: 80px;
  }
}

@media (max-height: 800px) {
  .chat-messages {
    height: 71%;
  }

  .chat-container {
    background: #15202b;
    background: linear-gradient(180deg, #15202b 76.2%, rgb(22, 118, 138) 0%);
  }

  .btn-option {
    height: 5.2vh;
    font-size: 0.9rem;
  }

  .btn-enter-name {
    width: 80px;
  }
}

@media (min-width: 1000px) {
  .chat-header h2 {
    font-size: 1.4em;
  }

  .chat-container {
    height: 55em;
  }

  .chat-messages {
    height: 39.17em;
  }

  .message {
    font-size: 1.2em;
  }

  .chat-container {
    background: #15202b;
    background: linear-gradient(180deg, #15202b 76.2%, rgb(22, 118, 138) 0%);
  }

  .btn-option {
    height: 55px;
    font-size: 1rem;
  }
}
